@font-face {
  font-family: 'iconfont'; /* Project id 3473833 */
  /* Color fonts */
  src: url('iconfont.woff2?t=1655629823513') format('woff2'),
    url('iconfont.woff?t=1655629823513') format('woff'),
    url('iconfont.ttf?t=1655629823513') format('truetype');
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 26px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-huiyuan:before {
  content: '\100da';
}

.icon-biji:before {
  content: '\100db';
}

.icon-gerenzhongxin:before {
  content: '\100dc';
}

.icon-shoucang:before {
  content: '\100dd';
}

.icon-zanting:before {
  content: '\100de';
}

.icon-sousuo:before {
  content: '\100df';
}

.icon-gengduo:before {
  content: '\100e0';
}

.icon-biaoqian:before {
  content: '\100e1';
}

.icon-shijian:before {
  content: '\100e2';
}

.icon-dianzan:before {
  content: '\100e3';
}

.icon-xiaoxi:before {
  content: '\100e4';
}

.icon-ziliao:before {
  content: '\100e5';
}

.icon-xihuan:before {
  content: '\100e6';
}

.icon-fenxiang:before {
  content: '\100e7';
}

.icon-shangyiqu:before {
  content: '\100e8';
}

.icon-weizhi:before {
  content: '\100e9';
}

.icon-bofang:before {
  content: '\100ea';
}

.icon-fenlei:before {
  content: '\100eb';
}

.icon-qingchu:before {
  content: '\100ec';
}

.icon-bianji:before {
  content: '\100ed';
}

.icon-xiayiqu:before {
  content: '\100ee';
}

.icon-cai:before {
  content: '\100ef';
}
