::-webkit-scrollbar {
  width: 7px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background-color: #0000000d;
}
::-webkit-scrollbar-thumb {
  background-color: #9093994d;
  border-radius: 2px;
  box-shadow: inset 0 0 6px #0003;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #b6b7b9;
}

.dark {
  background-color: #000;
}
.site-layout {
  min-height: 100vh;
}
.site-content {
  margin: 0 10px;
  padding: 8px 16px;
  overflow: initial;
  background-color: #fff;
}

.dark .site-content {
  background-color: #111318;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 16px 6px;
  overflow: hidden;
}
@keyframes bgp {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -100% 0;
  }
}
.logo_text {
  padding-left: 12px;
  white-space: nowrap;
  margin-bottom: 0;
  text-align: center;
  line-height: 28px;
  font-size: 24px;
  list-style-type: none;
  font-weight: bold;
  background-image: linear-gradient(
    to right,
    #0a98d2,
    #1ffdc4,
    #0a98d2,
    orange,
    #0a98d2,
    #1ffdc4,
    #0a98d2
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-size: 200% 100%;
  animation: bgp 8s infinite linear;
}

.site_header_item {
  cursor: pointer;
  height: 100%;
  padding: 0 12px;
  font-size: 18px;
  transition: all 0.3s;
  background-color: transparent;
}
.site_header_item:hover {
  background-color: #f5f5f5;
}
.site_dark_header_item:hover {
  background-color: #00284e;
}

.fullscreen {
  background-color: #fff;
}
